.servicios img {
    width: 150px;
    height: 100px;
    border-radius: 8px;
}

.servicios .item-text{
    color: black;
}

.servicios .item{
    padding: 5px;
}

.servicios .item_service{
    background-color: lightgray;
    border: solid 1px gray;
    margin: 5px;
    padding: 5px;
    text-align: center;
}

.servicios .item-text{
    margin-top: 5px;
}

.servicios .item-text h5{
    text-transform: capitalize;
    font-weight: bold;
    margin: 0;
}

.servicios .item-text p{
    margin: 0;
}