{% extends "base.html" %}

{% block head %}
<title>
    Reserva
</title>
{% endblock head %}
{% load static %}
{% block content %}


                                                    
        <div class="masthead mt-5 pt-5">
        <link rel="stylesheet" type="text/css" href="{% static 'css/main.css' %}">
        <link rel="stylesheet" type="text/css" href="{% static 'css/util.css' %}">
        <br>        <br>
            <div class="container pt-5"> <div class=" text-center mt-5 ">
                </div>
                <div class="row ">
                    <div class="col-lg-7 mx-auto">
                        <div class="card mt-2 mx-auto p-4 bg-light">
                            <div class="card-body bg-light">
                                <div class="container">
                                    <div class="alert alert-success" role="alert">
                                        ¡Reserva de hora Correctamente Editada!
                                    </div>
                                    <div class="row mt-5">
                                        <div class="col-4 p-l-100 container">
                                            <a href="{% url 'core:index' %}" class="login100-form-btn">Inicio</a>
                                        </div>
                                        <div class="col-4">
                                            <a href="{% url 'core:listar_reserva' %}" class="login100-form-btn">Historial de Reserva</a>
                                        </div>
                                    </div>    
                                    
                                        
                                        
                                            
                                </div>
                            </div>
                        </div> <!-- /.8 -->
                    </div> <!-- /.row-->
                </div>
            </div>
        </div>
        



{% endblock %}